<!--Creating controls explicitly-->

<!--(1) In the form element we tell Angular that we have created this ControlGroup 
and its Controls explicitly si Angular will no longer create them for us-->
<!--(5) Finally handling the Submit Form by binding to (ngSubmit) event and call a method in signup-form.component-->
<form
    class="container"
    [ngFormModel]="form" 
    (ngSubmit)="signup()" >
    <div class="form-group">
        <label for="username">Username</label>
        <!--(2) Next we need to asociate EACH Input field with a Control Object (ngControl="username")-->
        <!--(3) Creating a temporary username variable "username" that will reference the ngControl that we applied to the Input field-->
        <input 
            type="text" 
            id="username" 
            class="form-control"
            ngControl="username"
            #username="ngForm"> 
            
        <!--(7.74) Showing a Loader Image when the asyinc validator is in progress-->
        <!--(7.74.1) we check the pending property by username.control.pending
                     if it's true,  that means an async validator is in progress-->
        <div
            *ngIf="username.control.pending">Checking for uniqueness...
        </div>
        <!--(4) Next we need to insert Validator Placeholders and set ngIf="!username.valid"-->
        <div *ngIf="username.touched && username.errors">    
            
            <!--(7.75) Validating Upon Form Submit (both Username and Password)-->
            <div
                 *ngIf="username.errors.invalidLogin"
                 class="alert alert-danger">Username or password is invalid
            </div>   
            
            <div
                *ngIf="username.errors.required" 
                class="alert alert-danger">Username is required.
            </div>
            <div 
                *ngIf="username.errors.cannotContainSpace"
                class="alert alert-danger">Username cannot contain space.           
            </div>
            <!--(7.73) adding Async Validator placeholder using username.errors.shouldBeUnique -->
            <div 
                *ngIf="username.errors.shouldBeUnique"
                class="alert alert-danger">This Username is already taken.               
            </div>
        </div> 
    </div>

    
    <div class="form-group">
        <label for="password">Password</label>
        <input 
            type="text" 
            class="form-control" 
            id="password"
            ngControl="password"
            #password="ngForm">
        <div
            *ngIf="!password.valid && password.touched" 
            class="alert alert-danger">Password is required</div>
    </div>
    
    
    <div class="form-group">
         <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
</form>