<form (ngSubmit)="changePassword()" [ngFormModel]="changepasswordForm" 
    class="container">
    <!--CurrentPassword-->
    <div class="form-container">
        <label for="currentpassword">Current Password</label>
        <input 
            required
            #currentpassword ="ngForm"
            ngControl="currentpassword"
            id="currentpassword"
            class="form-control" 
            type="text">
        <!--CurrentPassword Validation-->
        <div
            *ngIf="currentpassword.touched && currentpassword.errors" 
            class="alert alert-danger">
            <div *ngIf="currentpassword.errors.required">
                REQUIRED
            </div>
        </div>
    </div>
    
    <!--NewPassword-->
    <div
        class="form-container">
        <label for="newpassword">New Password</label>
        <input
            required
            #newpassword="ngForm"
            ngControl="newpassword"
            class="form-control"
            id="newpassword" 
            type="text">
        <!--NewPassword Validation-->
    </div>
    <div class="form-container">
        <button class="btn btn-primary">Change Password</button>
    </div>
</form>